* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.body {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: "Inter", sans-serif;
  color: #000;

  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-size: 1440px;
  background-position: center;
  background-repeat: no-repeat;  
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 70px;  
}

.header__container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header__foto {
  max-width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 50px;
}
.header__info {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__name {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
.header__nav {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.6;
}
.header__items {
  height: 60px;
  margin-top: 50px;
  
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  
  background-color: white;
  
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
}
.header__item {
  transition: 0.5s;
}
.header__link {
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;

  text-decoration: none;
}
.main {
  margin: 0 auto;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  text-align: center;  
}
.section_title {
  padding: 10px;

  background-color: white;
  
}
.section_items {
  padding: 10px;
  gap: 10px;

  display: flex;
  flex-direction: column;

  font-size: 25px;
}
.section_link {
  padding: 10px;
  
  text-decoration: none;
  color: black;
}
.section_text {
  line-height: 2;
}

.header__link:link {
  color: #497ddd;
}
.header__link:visited {
  color: #500ad2;
}
.visibility:hover {
  opacity: 0.8;
  text-decoration: underline;
  scale: 1.2;
}
.code__pre {
  white-space: pre-line;
}
.code__show {
  font-family: inherit;
}
.footer {
  height: 100px;
  background-image: linear-gradient(to top, #a6c1ee 0%, #fbc2eb 100%);
  display: flex;
  justify-content: space-around;

  align-items: center;
  list-style: none;
  border-top: 1px solid;
}
.footer__author {
  font-size: 20px;
  line-height: 40px;
}
.footer__icon_link {
  transition: 0.8s;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__icon_link-rs {
  width: 100px;
  background-image: url(./images/rs_school_js.svg);
}
.footer__icon_link-gh {
  width: 100px;
  background-image: url(./images/github.svg);
}
.footer__box_link {
  display: flex;
  align-items: center;
  gap: 50px;
}
